<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" href="CSS/mystyle.css" />
    <script src="utils.js" charset="utf-8" defer></script>

</head>

<body>
<h1>Statistics</h1>

<div align="left" class="leftDiv" id="detailsDiv">
    <p>Campaign's name: <span th:text= ${campaignName}>nome</span></p>
    <p>Total number of images:<span th:text= ${totalImage}>quantita</span></p>
    <p>Total number of annotation:<span th:text= ${totalAnnotation}>quantita</span></p>
    <p>Average number of annotation per image:<span th:text= ${average}>quantita</span></p>
    <p>Total number of images in conflict:<span th:text= ${totalConflicts}>quantita</span></p>
</div>
</body>
</html>